.container{
    width: 100%;
    height: 100vh;
    padding: 20px;
    border: 5px solid black;
    box-sizing: border-box; /* Default */

}

.items{
    display: inline-block;
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    border: 1px solid red;
    margin: 10px;
}

#item-2{

    visibility: hidden;
}

/* height: 100px;
width: 100px;
background-color: aquamarine; */

/* Padding */
/* padding: top right bottom left; */
/* padding: 20px 30px 40px 50px; */
/* padding: 20px; */
/* padding-top: 10px;
padding-left: 20px;
padding-right: 30px;
padding-bottom: 40px; */


/* Borders */
/* border: 10px solid red; */
/* border-width: 8px;
border-color: black;
border-style: double;
border-radius: 20px 10px 5px 3px; */

/* Margins */
/* margin: 10px; */