@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.container{
 border: 12px solid sienna;
    height: 90vh;
    width: 80vw;
}

.para{
    font-size: 16px;
    font-weight: bold;
    color: rgb(38, 183, 22);
    text-align: center;
    text-transform: capitalize;
    text-decoration: wavy underline
    /* line-height: 2.5em; */
    /* letter-spacing: 1px;  */
    /* word-spacing: 5px; */
}

/* fonts related properties */